/* 
Main window dimensions:
	width: 1200 px
	height: 900 px

margin and padding syntax: 
	top left bottom right

grid-template-areas defines where 
	in grid to place items using keywords
*/

/* NOTE TO MARTY: After moving all grid aspects over, try to consolidate as much as you can
	so that you are rarely using # here */

/* NOTE TO MARTY: Figure out how to consolidate of all of the "display: none" tags */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: helvetica;
}

html,
body {
	background: hsl(225, 20%, 35%);
	width: 100%;
	height: 100%;
}

body {
	overflow-y: hidden;
}

label {
	color: white;
}

#TabBar {
	height: 100%;
	padding: 30px 0;
	background: hsl(225, 20%, 25%);
}

/* Tabs */

.tab {
	padding: 3px;
	text-align: center;
	background: none;
	border: none;
	color: hsla(0, 70%, 100%, 0.7);
}
.tab:hover {
	color: white;
}

.pressed-tab {
	color: white;
	border-left: 3px solid white;
}

/* 


					Normal Mode Content


*/

/* NOTE TO MARTY: Maybe move these? Better to group ID's and classes */
#SeviModeContent {
	display: none; /* Set to none so that it looks cleaner on startup */
}

#SeviFirstPage {
	padding: 30px 20px 0 20px;
	grid-gap: 20px;
}

#SeviSecondPage {
	display: none;
	padding: 0 20px 30px 20px;
	grid-gap: 20px;
}

.grid {
	display: grid;
	overflow: scroll;
}

.background-lighter-blue {
	background: hsl(225, 20%, 40%);
	border-radius: 7px;
}

.white-text {
	color: white;
}

.serif {
	font-family: Garamond;
	font-size: 1.4vw;
}

.square-button {
	border-radius: 10px;
	border: none;
	background: hsla(225, 20%, 10%, 0.6);
}
.square-button:hover {
	background: hsla(225, 20%, 25%, 1);
	border: 1px solid hsla(0, 100%, 100%, 0.5);
}
.square-button:active {
	background: hsla(225, 20%, 35%, 1);
	border: 1px solid hsla(0, 100%, 100%, 0.7);
}
.square-button:disabled {
	border: 1px solid hsla(0, 0%, 0%, 0.2);
	background: hsla(225, 20%, 35%, 0.6);
	opacity: 0.6;
}

.input-change,
.input-read {
	background: hsla(225, 20%, 80%, 1);
	border: 1px solid hsla(225, 20%, 10%, 1);
	border-radius: 3px;
}
.input-change:focus-visible {
	border: 2px solid hsla(225, 20%, 100%, 1);
	outline: none;
}
.input-read:focus-visible {
	border: 1px solid hsla(225, 20%, 10%, 1);
	outline: none;
	outline-offset: 0;
}

.I0NButton {
	width: 60%;
	height: 60%;
	justify-self: center;
	border-radius: 100%;
	border: none;
	background: hsla(225, 20%, 10%, 0.6);
	/*color: whitesmoke;*/
	color: white;
}
.I0NButton:hover {
	background: hsla(225, 20%, 25%, 1);
	border: 1px solid hsla(0, 100%, 100%, 0.5);
}
.I0NButton:active {
	background: hsla(225, 20%, 55%, 1);
	border: 1px solid hsla(0, 100%, 100%, 0.7);
}
.I0NButton:disabled {
	border: 1px solid hsla(0, 0%, 0%, 0.2);
	background: hsla(225, 20%, 35%, 0.6);
	opacity: 0.6;
}

.DisplaySlider {
	-webkit-appearance: none;
	background: hsla(225, 20%, 25%, 1);
	height: 40%;
	width: 80%;
	border-radius: 5px;
	margin-top: 2px;
}

.DisplaySlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	background: hsla(225, 20%, 55%, 1);
	border: 1px solid black;
}
/* Slider hover affects are controlled in mainFunctions.js */

.HoverText {
	padding: 2px;
	visibility: hidden;
	background: gray;
	border: 1px solid red;
	border-radius: 3px;
}

.noHover {
	pointer-events: none;
}

/* 
Left Side 
*/

/* Title Section */
#TitleSection {
	align-items: center;
}
#TitleSection h1 {
	text-align: center;
	font-size: 3.7vw;
	font-family: "Libre Baskerville";
	text-transform: uppercase;
	color: white;
	letter-spacing: 0.1em;
	text-shadow: black 0 0 5px;
}

/* Scan Controls */
#ScanControls {
	padding: 0 5%;
	justify-items: center;
	align-items: center;
}
.ScanButton {
	width: 60%;
	height: 60%;
	font-size: 1.3vw;
}
.ScanImage {
	width: 10px;
	height: 10px;
}
#StartButtonText {
	padding-left: 8px;
}
#PauseButtonText {
	padding-left: 8px;
}

/* Save Controls */
.sevi-mode #SaveControls {
	padding: 5px 20px 10px 20px;
	grid-gap: 5px 2px;
	align-items: center;
}
.ir-mode #SaveControls {
	padding: 5px 15px 5px 15px;
	grid-gap: 5px 2px;
	align-items: center;
}
.ir-mode #IRWavelengthMode {
	height: 50%;
	padding-left: 3px;
}
#IRWavelengthMode:focus-visible {
	outline: none;
}
.ir-mode #CWLabelNIR {
	text-align: right;
	padding-right: 5px;
}
.ir-mode #CurrentWavelengthNIR {
	text-align: center;
	width: 100%;
	height: 60%;
}
.ir-mode #NMLabelIR {
	grid-area: NMLabelIR;
}
.ir-mode #ConvertedWavelengthIR {
	text-align: center;
	width: 100%;
	height: 60%;
}
.ir-mode #NMLabel2IR {
	padding-left: 3px;
}
.ir-mode #CurrentWavenumberIR {
	text-align: center;
	width: 100%;
	height: 60%;
}
.ir-mode #WNLabelIR {
	padding-left: 3px;
}
#SaveControls h4 {
	font-size: 1.5vw;
	text-align: center;
	align-self: end;
}
#SaveControls label {
	font-size: 1.4vw;
}
#SaveControls button {
	font-size: 1.35vw;
}
/* First row: Titles */

/* Second row: File Naming */
#CurrentFile {
	height: 70%;
	font-size: 1.3vw;
	text-align: center;
	background: inherit;
	border: 1px solid rgb(62, 71, 95);
}
#I0NCounter {
	width: 100%;
	height: 70%;
	text-align: center;
}
/* Third row: Current Wavelength */
#WavelengthMode {
	height: 50%;
	padding-left: 3px;
}
#WavelengthMode:focus-visible {
	outline: none;
}
#CWLabel {
	text-align: right;
	padding-right: 5px;
}
#CurrentWavelength {
	text-align: center;
	width: 100%;
	height: 60%;
}
#NMLabel {
	padding-left: 3px;
}
#ConvertedWavelength {
	text-align: center;
	width: 100%;
	height: 60%;
}
#NMLabel2 {
	padding-left: 3px;
}
#CurrentWavenumber {
	text-align: center;
	width: 100%;
	height: 60%;
}
#WNLabel {
	padding-left: 3px;
}
/* Fourth row: Save Directory */
.SaveRow4 {
	height: 50%;
	opacity: 0.7;
	align-self: end;
}
.ir-mode #SDLabel {
	height: 50%;
}
#SDLabel {
	height: 40%;
	text-align: right;
	padding-right: 10px;
}
#SaveDirectory {
	background: inherit;
	padding-left: 10px;
	border: 1px solid rgb(62, 71, 95);
}

/* Recent Scans */
#RecentScans {
	padding: 0 25px 5px 25px;
	grid-area: RecentScans;
	display: grid;
	grid-template-rows: 1fr 5fr;
}
#RecentScans header {
	padding-bottom: 10px;
	z-index: 5;
	border-bottom: black;
	display: grid;
	grid-template-columns: 1.7fr 1fr 1fr 1fr 1fr;
}
#RecentScans h4 {
	text-align: center;
	align-self: end;
	font-size: 1.3vw;
}
#RecentScansSection {
	overflow: scroll;
	max-height: 280px;
	display: grid;
	padding-top: 5px;
	border: 2px solid rgb(62, 71, 95);
	grid-template-columns: 1.8fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: 35px;
}
#RecentScans p {
	text-align: center;
	font-size: 1.3vw;
	padding-top: 7px;
	height: 100%;
	border-bottom: 1px dotted rgb(62, 71, 95);
	color: white;
}

/* 
End left side 
*/

/* 
Right Side 
*/

/* Image Display */
.sevi-mode #ImageDisplay {
	padding: 5px 5px;
	grid-gap: 10px;
}
.sevi-mode #IRImageDisplay {
	display: none;
}
.ir-mode #ImageDisplay {
	padding: 5px 5px;
	grid-gap: 10px;
}
.ir-mode #IRImageDisplay {
	text-align: center;
}
#IRImageDisplay:focus-visible {
	outline: none;
}
.active-display {
	height: 52vh;
	aspect-ratio: 1 / 1;
	background: white;
	border-radius: 10px;
	justify-self: center;
}
.inactive-display {
	display: none;
}
#ImageDisplay h3 {
	text-align: center;
	align-self: end;
}
.ir-mode #ImageDisplay h3 {
	padding-left: 30%;
}
#DisplaySlider1 {
	justify-self: center;
}

/* Electron & Frame Counters */
#Counters label {
	font-size: 1.5vw;
	text-align: right;
}
#Counters input {
	font-size: 1.3vw;
	text-align: center;
	width: 50%;
}
/* Counters for Normal scanning mode */
.sevi-mode #Counters {
	padding: 20px 50px;
	grid-gap: 0 20px;
	align-items: center;
}
.sevi-mode #TotalFramesLabelIROn {
	display: none;
}
.sevi-mode #TotalFramesIROn {
	display: none;
}
.sevi-mode #TotalECountLabelIROn {
	display: none;
}
.sevi-mode #TotalECountIROn {
	display: none;
}
/* Counters for IR On/Off Scanning */
.ir-mode #Counters {
	padding: 20px 50px;
	grid-gap: 0 20px;
	align-items: center;
}
#ResetCounters {
	width: 50%;
	height: 80%;
	font-size: 1vw;
}

/* Pause "animation" */
/* NOTE TO MARTY: .paused can obviously be one thing */
#PauseScreenSaveControls {
	display: none;
}
.paused #PauseScreenSaveControls {
	display: block;
	z-index: 1;
	background: hsla(225, 20%, 55%, 0.6);
	border-radius: 7px;
}
#PauseScreenDisplay {
	display: none;
}
.paused #PauseScreenDisplay {
	display: block;
	z-index: 1;
	background: hsla(225, 20%, 55%, 0.6);
	border-radius: 7px;
}
#PauseScreenCounters {
	display: none;
}
.paused #PauseScreenCounters {
	display: block;
	z-index: 1;
	background: hsla(225, 20%, 55%, 0.6);
	border-radius: 7px;
}

/* 
End right side 
*/

/* End Normal Mode Content */

/*


					IR Action Mode Content


*/
.page-button {
	background: hsl(225, 20%, 35%);
	border-radius: 7px;
	border: none;
	margin: 0 -20px;
}

.page-down:hover {
	background: linear-gradient(to bottom, hsl(225, 20%, 35%), hsl(225, 20%, 45%));
}

.page-up:hover {
	background: linear-gradient(to top, hsl(225, 20%, 35%), hsl(225, 20%, 45%));
}

.arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.arrow-up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.arrow-down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

#IRActionModeContent {
	display: none; /* Set to none so that it looks cleaner on startup */
}

#IRActionFirstPage {
	padding: 30px 20px 0 20px;
	grid-gap: 20px;
}

#IRActionSecondPage {
	display: none;
	padding: 0 20px 30px 20px;
	grid-gap: 20px;
}

/* End IR Action Mode Content */

/*


					Settings Content


*/

#SettingsContent {
	padding: 40px 40px 0 40px;
	overflow: scroll;
	display: none; /* Set to none so that it looks cleaner on startup */
}

.settings-input-label {
	padding: 0 10px 0 30px;
}

.settings-number-input {
	width: 8%;
	height: 25px;
	text-align: center;
}

.unit-label {
	padding: 0 0 0 0;
}

#SettingsTitle {
	height: 50px;
	padding-left: 50px;
	color: white;
	border-bottom: 1px solid white;
}

.settings-section {
	padding-left: 40px;
}

.settings-section-title {
	height: 40px;
	padding-left: 20px;
	color: white;
	border-bottom: 1px dotted white;
}

/* Camera Settings */

#Gain {
	width: 8%;
}

#GainBoost {
	width: 20px;
}

/* Centroid Settings */

/* Save Button */

#SaveButtonSection {
	padding: 10px;
	padding-left: 90%;
}

#SaveSettingsButton {
	width: 100%;
	height: 50%;
}

/* End Settings Content */

/* Get rid of input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Get rid of scroll bars */
*::-webkit-scrollbar {
	display: none;
}

/* NOTE TO MARTY: Putting random classes down here. Need to sort later */

/* Negative margins to make room for page up / page down buttons */
.negative-bottom-margin {
	margin-bottom: -20px;
}
.negative-top-margin {
	margin-top: -20px;
}
