/* 
	This file is used to arrange each HTML element into a grid structure
	to make sure it aligns well, especially when resizing the window. The
	other element styles are specified in mainWindow.css
*/

/* NOTE TO MARTY: It might be better to split up the css files into one for each section (Sevi and IR Sevi could be in one) */

body {
	display: grid;
	grid-template-columns: 1fr 15fr;
	grid-template-areas: "TabBar Content";
}

/* Tabs */

#TabBar {
	grid-area: TabBar;
	display: grid;
	grid-template-rows: 0.5fr repeat(9, 1fr);
	grid-row-gap: 10px;
	grid-template-areas:
		"b0"
		"SeviMode"
		"IRSeviMode"
		"IRActionMode"
		"b1"
		"b1"
		"b1"
		"b1"
		"b1"
		"Settings";
}

#SeviMode {
	grid-area: SeviMode;
}

#IRSeviMode {
	grid-area: IRSeviMode;
}

#IRActionMode {
	grid-area: IRActionMode;
}

#Settings {
	grid-area: Settings;
}

/* Sevi and IR Sevi Mode Content */

#NormalModeContent {
	grid-area: Content;
}

#SeviFirstPage {
	grid-template-columns: 1fr 1fr;
	/*grid-template-rows: 1fr 1fr 0.5fr 3.5fr 3fr 30px;
	grid-template-areas:
		"TitleSection ImageDisplay"
		"ScanControls ImageDisplay"
		"ScanControls ImageDisplay"
		"SaveControls ImageDisplay"
		"SaveControls Counters"
		"SeviPageDown SeviPageDown";*/
	grid-template-rows: 1fr 2fr 3fr 1fr 3fr 30px;
	grid-template-areas:
		"TitleSection ImageDisplay"
		"ScanControls ImageDisplay"
		"FileNaming ImageDisplay"
		"LaserSetup ImageDisplay"
		"LaserSetup Counters"
		"SeviPageDown SeviPageDown";
}

/* Left Side */

#TitleSection {
	grid-area: TitleSection;
}

#ScanControls {
	grid-area: ScanControls;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		"ScanStartSave ScanPauseResume ScanCancel"
		"ScanAutosave ScanReset ScanSingleShot";
}
#ScanStartSave {
	grid-area: ScanStartSave;
}
#ScanPauseResume {
	grid-area: ScanPauseResume;
}
#ScanCancel {
	grid-area: ScanCancel;
}
#ScanAutosave {
	grid-area: ScanAutosave;
}
#ScanReset {
	grid-area: ScanReset;
}
#ScanSingleShot {
	grid-area: ScanSingleShot;
}

/* File Naming */
.red-border {
	/*border: 1px solid red;*/
	height: 100%;
	width: 100%;
}
#FileNaming {
	grid-area: FileNaming;
}

/* Save Controls - File Naming */
#FileNaming {
	grid-area: FileNaming;
	grid-template-rows: 1fr 2fr 2fr 1.3fr;
	grid-template-columns: 8fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"CurrentImageTitle blank1 ImageCounterTitle ImageCounterTitle ImageCounterTitle"
		"CurrentImageFile blank2 ImageCounterDown ImageCounter ImageCounterUp"
		"CurrentImageFileIROn blank3 blank3 blank3 blank3"
		"VMILabel VMILabel VMIMode VMIMode blank4";
}
#CurrentImageTitle {
	grid-area: CurrentImageTitle;
}
#ImageCounterTitle {
	grid-area: ImageCounterTitle;
}
#CurrentImageFile {
	grid-area: CurrentImageFile;
}
#ImageCounterDown {
	grid-area: ImageCounterDown;
}
#ImageCounter {
	grid-area: ImageCounter;
}
#ImageCounterUp {
	grid-area: ImageCounterUp;
}
#CurrentImageFileIROn {
	grid-area: CurrentImageFileIROn;
}
#VMILabel {
	grid-area: VMILabel;
}
#VMIMode {
	grid-area: VMIMode;
}

/* Save Controls - Laser Setup */
.sevi-mode #LaserSetup {
	grid-area: LaserSetup;
	grid-template-rows: 0.5fr 1fr 1fr 2fr;
	grid-template-areas:
		"LaserSetupTitle"
		"DetachmentLaserReadout"
		"LaserMeasurement"
		"blank";
}
.ir-sevi-mode #LaserSetup {
	grid-area: LaserSetup;
	grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"LaserSetupTitle"
		"DetachmentLaserReadout"
		"IRLaserReadout"
		"IRLaserControl"
		"LaserMeasurement";
}
#LaserSetupTitle {
	grid-area: LaserSetupTitle;
}

/* Laser Setup - Detachment Laser Readout */
#DetachmentLaserReadout {
	grid-area: DetachmentLaserReadout;
	grid-template-columns: repeat(3, 3fr 1fr) 3fr 1.3fr;
	grid-template-areas: "WavelengthMode DetachmentWavelengthLabel DetachmentWavelength NMLabel1 ConvertedWavelength NMLabel2 DetachmentWavenumber WNLabel1";
}
#WavelengthMode {
	grid-area: WavelengthMode;
}
#DetachmentWavelengthLabel {
	grid-area: DetachmentWavelengthLabel;
}
#DetachmentWavelength {
	grid-area: DetachmentWavelength;
}
#NMLabel1 {
	grid-area: NMLabel1;
}
#ConvertedWavelength {
	grid-area: ConvertedWavelength;
}
#NMLabel2 {
	grid-area: NMLabel2;
}
#DetachmentWavenumber {
	grid-area: DetachmentWavenumber;
}
#WNLabel1 {
	grid-area: WNLabel1;
}

/* Laser Setup - IR Laser Readout */
#IRLaserReadout {
	grid-area: IRLaserReadout;
	grid-template-columns: repeat(3, 3fr 1fr) 3fr 1.3fr;
	grid-template-areas: "IRWavelengthMode IRWavelengthLabel IRWavelength NMLabel3 IRConvertedWavelength NMLabel4 IRWavenumber WNLabel2";
}
#IRWavelengthMode {
	grid-area: IRWavelengthMode;
}
#IRWavelengthLabel {
	grid-area: IRWavelengthLabel;
}
#IRWavelength {
	grid-area: IRWavelength;
}
#NMLabel3 {
	grid-area: NMLabel3;
}
#IRConvertedWavelength {
	grid-area: IRConvertedWavelength;
}
#NMLabel4 {
	grid-area: NMLabel4;
}
#IRWavenumber {
	grid-area: IRWavenumber;
}
#WNLabel2 {
	grid-area: WNLabel2;
}

/* Laser Setup - IR Laser Control */
#IRLaserControl {
	grid-area: IRLaserControl;
	grid-template-columns: 2.4fr 1.2fr 1.2fr 1fr 0.1fr 1.3fr;
	grid-template-areas: "IRLaserControlLabel DesiredEnergy DesiredEnergyUnit DesiredIRRangeMessage blank MoveIRButton";
}
#IRLaserControlLabel {
	grid-area: IRLaserControlLabel;
}
#DesiredEnergy {
	grid-area: DesiredEnergy;
}
#DesiredEnergyUnit {
	grid-area: DesiredEnergyUnit;
}
#DesiredIRRangeMessage {
	grid-area: DesiredIRRangeMessage;
}
#MoveIRButton {
	grid-area: MoveIRButton;
}

/* Laser Setup - Laser Measurement Button */
#LaserMeasurement {
	grid-area: LaserMeasurement;
	grid-template-columns: 6fr 2fr;
	grid-template-areas: "blank1 MeasureDetachmentWavelength";
}
#MeasureDetachmentWavelength {
	grid-area: MeasureDetachmentWavelength;
}

/* Right Side */

#ImageDisplay {
	grid-area: ImageDisplay;
	grid-template-rows: 1fr 14fr 1fr;
	grid-template-columns: 5.5fr 1.5fr;
	grid-template-areas:
		"Title IRImageDisplay"
		"Display Display"
		"Slider Slider";
}
#IRImageDisplay {
	grid-area: IRImageDisplay;
}
#ImageDisplay h3 {
	grid-area: Title;
}
#Display {
	grid-area: Display;
}
#DisplaySlider {
	grid-area: Slider;
}

#Counters {
	grid-area: Counters;
	grid-template-rows: 0.5fr 1fr 1fr 1fr 5px 1fr;
	grid-template-columns: 1.2fr 1fr 1fr;
	grid-template-areas:
		"blank IROffTitle IROnTitle"
		"TotalFramesLabel TotalFrames TotalFramesIROn"
		"TotalECountLabel TotalECount TotalECountIROn"
		"AvgECountLabel AvgECount AvgECountIROn"
		"ECountersDivLine ECountersDivLine ECountersDivLine"
		"AutomaticStopLabel AutomaticStop AutomaticStopUnit";
}
#IROffCountersTitle {
	grid-area: IROffTitle;
}
#IROnCountersTitle {
	grid-area: IROnTitle;
}
#TotalFramesLabel {
	grid-area: TotalFramesLabel;
}
#TotalFrames {
	grid-area: TotalFrames;
}
#TotalFramesIROn {
	grid-area: TotalFramesIROn;
}
#TotalECountLabel {
	grid-area: TotalECountLabel;
}
#TotalECount {
	grid-area: TotalECount;
}
#TotalECountIROn {
	grid-area: TotalECountIROn;
}
#AvgECountLabel {
	grid-area: AvgECountLabel;
}
#AvgECount {
	grid-area: AvgECount;
}
#AvgECountIROn {
	grid-area: AvgECountIROn;
}
#ECountersDivLine {
	grid-area: ECountersDivLine;
}
#AutomaticStopLabel {
	grid-area: AutomaticStopLabel;
}
#AutomaticStop {
	grid-area: AutomaticStop;
}
#AutomaticStopUnit {
	grid-area: AutomaticStopUnit;
}

#SeviPageDown {
	grid-area: SeviPageDown;
}

/* Pause "animation" */
.paused #PauseScreenSaveControls {
	grid-area: SaveControls;
}
.paused #PauseScreenDisplay {
	grid-area: ImageDisplay;
}
.paused #PauseScreenCounters {
	grid-area: Counters;
}

#SeviSecondPage {
	grid-template-rows: 30px 7fr 8fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"SeviPageUp SeviPageUp"
		"SpectrumDisplay SpectrumDisplay"
		"RecentScans ElectronCountHistory";
}

#SeviPageUp {
	grid-area: SeviPageUp;
}

#SpectrumDisplay {
	grid-area: SpectrumDisplay;
}

#RecentScans {
	grid-area: RecentScans;
}

#ElectronCountHistory {
	grid-area: ElectronCountHistory;
}

/* IR Action Mode Content */

#IRActionModeContent {
	grid-area: Content;
}

#IRActionFirstPage {
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 30px;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"IRActionControls IRAbsorptionPlot"
		"IRActionControls IRAbsorptionPlot"
		"IRActionOptions IRAbsorptionPlot"
		"IRActionOptions IRNextWavelength"
		"IRActionOptions IRActionProgress"
		"IRActionPageDown IRActionPageDown";
}

#IRActionControls {
	grid-area: IRActionControls;
}

#IRActionOptions {
	grid-area: IRActionOptions;
}

#IRAbsorptionPlot {
	grid-area: IRAbsorptionPlot;
}

#IRNextWavelength {
	grid-area: IRNextWavelength;
}

#IRActionProgress {
	grid-area: IRActionProgress;
}

#IRActionPageDown {
	grid-area: IRActionPageDown;
}

#IRActionSecondPage {
	grid-template-rows: 30px 1fr 1fr;
	grid-template-columns: 0.8fr 0.16fr 1fr;
	grid-template-areas:
		"IRActionPageUp IRActionPageUp IRActionPageUp"
		"IRActionInfo IRActionInfo IRActionImage"
		"IRPreviousWavelengths IRActionSpectrum IRActionSpectrum";
}

#IRActionPageUp {
	grid-area: IRActionPageUp;
}

#IRActionInfo {
	grid-area: IRActionInfo;
}

#IRPreviousWavelengths {
	grid-area: IRPreviousWavelengths;
}

#IRActionImage {
	grid-area: IRActionImage;
}

#IRActionSpectrum {
	grid-area: IRActionSpectrum;
}

/* Settings Content */

#SettingsContent {
	grid-area: Content;
}
