/* 
Main window dimensions:
	width: 1200 px
	height: 900 px

margin and padding syntax: 
	top left bottom right

grid-template-areas defines where 
	in grid to place items using keywords
*/

/* NOTE TO MARTY: After moving all grid aspects over, try to consolidate as much as you can
	so that you are rarely using # here */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: helvetica;
}

html,
body {
	background: hsl(225, 20%, 35%);
	width: 100%;
	height: 100%;
}

body {
	overflow-y: hidden;
}

label {
	color: white;
}

#TabBar {
	height: 100%;
	padding: 30px 0;
	background: hsl(225, 20%, 25%);
}

/* Tabs */

.tab {
	padding: 3px;
	text-align: center;
	background: none;
	border: none;
	color: hsla(0, 70%, 100%, 0.7);
}
.tab:hover {
	color: white;
}

.pressed-tab {
	color: white;
	border-left: 3px solid white;
}

/* 


					Normal Mode Content


*/

/* NOTE TO MARTY: Maybe move these? Better to group ID's and classes */
#SeviModeContent {
	display: none; /* Set to none so that it looks cleaner on startup */
}

#SeviFirstPage {
	padding: 30px 20px 0 20px;
	grid-gap: 20px;
}

#SeviSecondPage {
	display: none;
	padding: 0 20px 30px 20px;
	grid-gap: 20px;
}

.grid {
	display: grid;
	overflow: scroll;
}

.background-lighter-blue {
	background: hsl(225, 20%, 40%);
	border-radius: 7px;
}

.white-text {
	color: white;
}
.serif {
	font-family: Garamond;
	font-size: 1.4vw;
}
.right-align {
	text-align: right;
}

/* Hides IR related content when on normal SEVI tab */
.sevi-mode .sevi-mode-hide {
	display: none;
}

.square-button {
	height: 50%;
	border-radius: 10px;
	border: none;
	background: hsla(225, 20%, 10%, 0.6);
}
.square-button:hover {
	background: hsla(225, 20%, 25%, 1);
	border: 1px solid hsla(0, 100%, 100%, 0.5);
}
.square-button:active {
	background: hsla(225, 20%, 35%, 1);
	border: 1px solid hsla(0, 100%, 100%, 0.7);
}
.square-button:disabled {
	border: 1px solid hsla(0, 0%, 0%, 0.2);
	background: hsla(225, 20%, 35%, 0.6);
	opacity: 0.6;
}

.input-change,
.input-read {
	background: hsla(225, 20%, 80%, 1);
	border: 1px solid hsla(225, 20%, 10%, 1);
	border-radius: 3px;
}
.input-change:focus-visible {
	border: 2px solid hsla(225, 20%, 100%, 1);
	outline: none;
}
.input-read:focus-visible {
	border: 1px solid hsla(225, 20%, 10%, 1);
	outline: none;
	outline-offset: 0;
}

.image-id-button {
	width: 60%;
	height: 60%;
	justify-self: center;
	border-radius: 100%;
	border: none;
	background: hsla(225, 20%, 10%, 0.6);
	color: white;
}
.image-id-button:hover {
	background: hsla(225, 20%, 25%, 1);
	border: 1px solid hsla(0, 100%, 100%, 0.5);
}
.image-id-button:active {
	background: hsla(225, 20%, 55%, 1);
	border: 1px solid hsla(0, 100%, 100%, 0.7);
}
.image-id-button:disabled {
	border: 1px solid hsla(0, 0%, 0%, 0.2);
	background: hsla(225, 20%, 35%, 0.6);
	opacity: 0.6;
}

.display-slider {
	-webkit-appearance: none;
	background: hsla(225, 20%, 25%, 1);
	height: 40%;
	width: 80%;
	border-radius: 5px;
	margin-top: 2px;
}

.display-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	background: hsla(225, 20%, 55%, 1);
	border: 1px solid black;
}
/* Slider hover affects are controlled in mainFunctions.js */

.HoverText {
	padding: 2px;
	visibility: hidden;
	background: gray;
	border: 1px solid red;
	border-radius: 3px;
}

.noHover {
	pointer-events: none;
}

.text-box-label {
	font-size: 1.5vw;
	text-align: right;
}

/* 
Left Side 
*/

/* Title Section */
#TitleSection {
	align-items: center;
}
#TitleSection h1 {
	text-align: center;
	font-size: 3.7vw;
	font-family: "Libre Baskerville";
	text-transform: uppercase;
	color: white;
	letter-spacing: 0.1em;
	text-shadow: black 0 0 5px;
}

/* Scan Controls */
#ScanControls {
	padding: 3%;
	grid-gap: 3%;
	justify-items: center;
	align-items: center;
}
.scan-control-button {
	width: 100%;
	height: 80%;
	font-size: 1.3vw;
}
.ScanImage {
	width: 10px;
	height: 10px;
}

/* FileNaming */
#FileNaming {
	padding: 20px 15px;
	grid-gap: 5% 5px;
	align-items: center;
}
.save-control-title {
	text-align: center;
	align-self: end;
	border-bottom: 1px solid white;
}
.file-name-display {
	height: 80%;
	font-size: 1.3vw;
	text-align: center;
	background: inherit;
	border: 1px solid rgb(62, 71, 95);
}
#ImageCounter {
	width: 100%;
	height: 70%;
	text-align: center;
}
#VMILabel {
	padding-right: 10px;
}
#VMIMode {
	height: 100%;
	padding-left: 30%;
}

/* Save Controls - Detachment Wavelength */
.drop-down {
	height: 50%;
	padding-left: 5%;
}
.drop-down:focus-visible {
	outline: none;
}
.faded {
	opacity: 70%;
}
.hv-display {
	width: 100%;
	height: 60%;
	text-align: center;
}
#LaserSetup {
	grid-gap: 5px;
	padding: 20px;
}
#LaserSetupTitle {
	justify-items: center;
}
#LaserControlTitle {
	width: 80%;
	text-align: center;
	border-bottom: 1px solid white;
	padding-bottom: 5px;
}

.laser-readout {
	align-items: center;
	grid-gap: 5px;
}

#IRLaserControl {
	grid-gap: 5px 15px;
}
#DesiredIRRangeMessage {
	text-align: center;
}

#LaserMeasurement {
	align-items: center;
}

/* 
End left side 
*/

/* 
Right Side 
*/

/* Image Display */
#ImageDisplay {
	padding: 5px 5px;
	grid-gap: 10px;
}
#ImageDisplaySelect {
	height: 80%;
}
#IRImageDisplay:focus-visible {
	outline: none;
}
#DisplayWrapper {
	height: 50vh;
	aspect-ratio: 1 / 1;
	justify-self: center;
}
.accumulated-image {
	height: inherit;
	width: inherit;
	background: black;
	border-radius: 10px;
}
#ImageDisplay h3 {
	padding-right: 10%;
	text-align: right;
	align-self: end;
}
#DisplaySlider {
	justify-self: center;
}

/* Electron & Frame Counters */
.divider-line {
	width: 100%;
	height: 100%;
	border-bottom: 1px solid white;
}
.e-counter-box {
	font-size: 1.3vw;
	text-align: center;
	width: 80%;
	height: 40%;
}
#Counters {
	padding: 10px 30px;
	grid-gap: 0 10px;
	align-items: center;
	justify-items: center;
}
#Counters h3 {
	text-align: center;
	width: 100%;
	border-bottom: 1px solid white;
}
#AutomaticStop {
	width: 80%;
	height: 60%;
	text-align: center;
}
#AutomaticStopUnit {
	width: 90%;
	height: 70%;
}

/* Pause "animation" */
/* NOTE TO MARTY: .paused can obviously be one thing */
#PauseScreenSaveControls {
	display: none;
}
.paused #PauseScreenSaveControls {
	display: block;
	z-index: 1;
	background: hsla(225, 20%, 55%, 0.6);
	border-radius: 7px;
}
#PauseScreenDisplay {
	display: none;
}
.paused #PauseScreenDisplay {
	display: block;
	z-index: 1;
	background: hsla(225, 20%, 55%, 0.6);
	border-radius: 7px;
}
#PauseScreenCounters {
	display: none;
}
.paused #PauseScreenCounters {
	display: block;
	z-index: 1;
	background: hsla(225, 20%, 55%, 0.6);
	border-radius: 7px;
}

/* 
End right side 
*/

/* Sevi Mode - Second Page */
.red-border {
	border: 1px solid red;
	width: 100%;
	height: 100%;
}

/* Sevi Mode - Second Page - PE Spectrum */
#SpectrumDisplaySection {
	padding: 10px;
}
#SpectrumDisplayInner {
	padding: 15px 20px 0 10px;
	background: hsla(225, 20%, 90%, 0.85);
	align-items: center;
}
#SpectrumControl {
	padding: 5px;
	padding-left: 10px;
	grid-gap: 0 5px;
	align-items: center;
	justify-items: center;
}
#SpectrumSwitch {
	width: 80%;
}
#CalculateSpectrumButton {
	width: 65%;
	height: 35%;
}
.range-label {
	text-align: center;
}
.axis-range-input {
	width: 80%;
	height: 80%;
	text-align: center;
}

/* Sevi Mode - Second Page - Recent Scans */
#RecentScans {
	padding: 0 25px 5px 25px;
}
#RecentScansHeader {
	padding-bottom: 10px;
	z-index: 5;
	border-bottom: black;
}
#RecentScans h4 {
	text-align: center;
	align-self: end;
	font-size: 1.3vw;
}
#RecentScansSection {
	max-height: 375px;
	padding-top: 5px;
	border: 2px solid rgb(62, 71, 95);
}
#RecentScans p {
	text-align: center;
	font-size: 1.3vw;
	padding-top: 7px;
	height: 100%;
	border-bottom: 1px dotted rgb(62, 71, 95);
	color: white;
}

/* End Sevi Mode Content */

/*


					IR Action Mode Content


*/
.page-button {
	background: hsl(225, 20%, 35%);
	border-radius: 7px;
	border: none;
	margin: 0 -20px;
}

.page-down:hover {
	background: linear-gradient(to bottom, hsl(225, 20%, 35%), hsl(225, 20%, 45%));
}

.page-up:hover {
	background: linear-gradient(to top, hsl(225, 20%, 35%), hsl(225, 20%, 45%));
}

.arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.arrow-up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.arrow-down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

#IRActionModeContent {
	display: none; /* Set to none so that it looks cleaner on startup */
}

#IRActionFirstPage {
	padding: 30px 20px 0 20px;
	grid-gap: 20px;
}

#IRActionSecondPage {
	display: none;
	padding: 0 20px 30px 20px;
	grid-gap: 20px;
}

/* End IR Action Mode Content */

/*


					Settings Content


*/

#SettingsContent {
	padding: 40px 40px 0 40px;
	overflow: scroll;
	display: none; /* Set to none so that it looks cleaner on startup */
}

.settings-input-label {
	padding: 0 10px 0 30px;
}

.settings-number-input {
	width: 8%;
	height: 25px;
	text-align: center;
}

.unit-label {
	padding: 0 0 0 0;
}

#SettingsTitle {
	height: 50px;
	padding-left: 50px;
	color: white;
	border-bottom: 1px solid white;
}

.settings-section {
	padding-left: 40px;
}

.settings-section-title {
	height: 40px;
	padding-left: 20px;
	color: white;
	border-bottom: 1px dotted white;
}

/* Camera Settings */

#Gain {
	width: 8%;
}

#GainBoost {
	width: 20px;
}

/* Centroid Settings */

/* Save Button */

#SaveButtonSection {
	padding: 10px;
	padding-left: 90%;
}

#SaveSettingsButton {
	width: 100%;
	height: 50%;
}

/* End Settings Content */

/* Get rid of input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Get rid of scroll bars */
*::-webkit-scrollbar {
	display: none;
}

/* NOTE TO MARTY: Putting random classes down here. Need to sort later */

/* Negative margins to make room for page up / page down buttons */
.negative-bottom-margin {
	margin-bottom: -20px;
}
.negative-top-margin {
	margin-top: -20px;
}
