/* 
	This file is used to arrange each HTML element into a grid structure
	to make sure it aligns well, especially when resizing the window. The
	other element styles are specified in mainWindow.css
*/

/* NOTE TO MARTY: It might be better to split up the css files into one for each section (Sevi and IR Sevi could be in one) */

body {
	display: grid;
	grid-template-rows: 1fr 40fr;
	grid-template-columns: 1fr 15fr;
	grid-template-areas:
		"TabBar MsgBar"
		"TabBar Content";
}

/* Message Bar */

#MsgBar {
	grid-area: MsgBar;
}

/* Tabs */

#TabBar {
	grid-area: TabBar;
	display: grid;
	grid-template-rows: 0.5fr repeat(9, 1fr);
	grid-row-gap: 10px;
	grid-template-areas:
		"b0"
		"SeviMode"
		"IRSeviMode"
		"IRActionMode"
		"b1"
		"b1"
		"b1"
		"b1"
		"b1"
		"Settings";
}

#SeviMode {
	grid-area: SeviMode;
}

#IRSeviMode {
	grid-area: IRSeviMode;
}

#IRActionMode {
	grid-area: IRActionMode;
}

#Settings {
	grid-area: Settings;
}

/* Sevi and IR Sevi Mode Content */

#SeviModeContent {
	grid-area: Content;
}

/* Sevi Mode - First Page */

#SeviFirstPage {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr 3fr 1fr 3fr 30px;
	grid-template-areas:
		"TitleSection ImageDisplay"
		"ScanControls ImageDisplay"
		"FileNaming ImageDisplay"
		"LaserSetup ImageDisplay"
		"LaserSetup Counters"
		"SeviPageDown SeviPageDown";
}

/* Sevi Mode - Left Side */

#SeviTitleSection {
	grid-area: TitleSection;
}

/* Sevi Mode - Left Side - Scan Controls */
#SeviScanControls {
	grid-area: ScanControls;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		"ScanStartSave ScanPauseResume ScanCancel"
		"ScanAutosave ScanReset ScanSingleShot";
}
#SeviScanStartSave {
	grid-area: ScanStartSave;
}
#SeviScanPauseResume {
	grid-area: ScanPauseResume;
}
#SeviScanCancel {
	grid-area: ScanCancel;
}
#SeviScanAutosave {
	grid-area: ScanAutosave;
}
#SeviScanReset {
	grid-area: ScanReset;
}
#SeviScanSingleShot {
	grid-area: ScanSingleShot;
}

/* Sevi Mode - Left Side - File Naming */
#SeviFileNaming {
	grid-area: FileNaming;
	grid-template-rows: 1fr 2fr 2fr 1.3fr;
	grid-template-columns: 8fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"CurrentImageTitle blank1 ImageCounterTitle ImageCounterTitle ImageCounterTitle"
		"CurrentImageFile blank2 ImageCounterDown ImageCounter ImageCounterUp"
		"CurrentImageFileIR blank3 blank3 blank3 blank3"
		"VMILabel VMILabel VMIMode VMIMode blank4";
}
#SeviCurrentImageTitle {
	grid-area: CurrentImageTitle;
}
#SeviImageCounterTitle {
	grid-area: ImageCounterTitle;
}
#SeviCurrentImageFile {
	grid-area: CurrentImageFile;
}
#SeviImageCounterDown {
	grid-area: ImageCounterDown;
}
#SeviImageCounter {
	grid-area: ImageCounter;
}
#SeviImageCounterUp {
	grid-area: ImageCounterUp;
}
#SeviVMILabel {
	grid-area: VMILabel;
}
#SeviVMIMode {
	grid-area: VMIMode;
}

/* Sevi Mode - Left Side - Laser Setup */
#SeviLaserSetup {
	grid-area: LaserSetup;
	grid-template-rows: 0.5fr 1fr 1fr 2fr;
	grid-template-areas:
		"LaserSetupTitle"
		"DetachmentLaserReadout"
		"LaserMeasurement"
		"blank";
}
#SeviLaserSetupTitle {
	grid-area: LaserSetupTitle;
}

/* Sevi Mode - Left Side - Laser Setup - Detachment Laser Readout */
#SeviDetachmentLaserReadout {
	grid-area: DetachmentLaserReadout;
	grid-template-columns: repeat(3, 3fr 1fr) 3fr 1.3fr;
	grid-template-areas: "WavelengthMode DetachmentWavelengthLabel DetachmentWavelength NMLabel1 ConvertedWavelength NMLabel2 DetachmentWavenumber WNLabel1";
}
#SeviWavelengthMode {
	grid-area: WavelengthMode;
}
#SeviDetachmentWavelengthLabel {
	grid-area: DetachmentWavelengthLabel;
}
#SeviDetachmentWavelength {
	grid-area: DetachmentWavelength;
}
#SeviNMLabel1 {
	grid-area: NMLabel1;
}
#SeviConvertedWavelength {
	grid-area: ConvertedWavelength;
}
#SeviNMLabel2 {
	grid-area: NMLabel2;
}
#SeviDetachmentWavenumber {
	grid-area: DetachmentWavenumber;
}
#SeviWNLabel1 {
	grid-area: WNLabel1;
}

/* Sevi Mode - Left Side - Laser Setup - Laser Measurement Button */
#SeviLaserMeasurement {
	grid-area: LaserMeasurement;
	grid-template-columns: 6fr 2fr;
	grid-template-areas: "blank1 MeasureDetachmentWavelength";
}
#SeviMeasureDetachmentWavelength {
	grid-area: MeasureDetachmentWavelength;
}

/* Sevi Mode - Right Side */

/* Sevi Mode - Right Side - Accumulated Image Display */
#SeviImageDisplay {
	grid-area: ImageDisplay;
	grid-template-rows: 1fr 14fr 1fr;
	grid-template-areas:
		"Title"
		"Display"
		"Slider";
}
#SeviImageDisplay h3 {
	grid-area: Title;
}
#SeviDisplayWrapper {
	grid-area: Display;
}
#SeviDisplaySlider {
	grid-area: Slider;
}

/* Sevi Mode - Right Side - Electron Counters */
#SeviCounters {
	grid-area: Counters;
	grid-template-rows: 0.5fr 1fr 1fr 1fr 5px 1fr;
	grid-template-columns: 1.2fr 1fr 1fr;
	grid-template-areas:
		"blank blank blank"
		"TotalFramesLabel TotalFrames blank1"
		"TotalECountLabel TotalECount blank1"
		"AvgECountLabel AvgECount blank1"
		"ECountersDivLine ECountersDivLine ECountersDivLine"
		"AutomaticStopLabel AutomaticStop AutomaticStopUnit";
}
#SeviTotalFramesLabel {
	grid-area: TotalFramesLabel;
}
#SeviTotalFrames {
	grid-area: TotalFrames;
}
#SeviTotalECountLabel {
	grid-area: TotalECountLabel;
}
#SeviTotalECount {
	grid-area: TotalECount;
}
#SeviAvgECountLabel {
	grid-area: AvgECountLabel;
}
#SeviAvgECount {
	grid-area: AvgECount;
}
#SeviECountersDivLine {
	grid-area: ECountersDivLine;
}
#SeviAutomaticStopLabel {
	grid-area: AutomaticStopLabel;
}
#SeviAutomaticStop {
	grid-area: AutomaticStop;
}
#SeviAutomaticStopUnit {
	grid-area: AutomaticStopUnit;
}

#SeviPageDown {
	grid-area: SeviPageDown;
}

/* Pause "animation" */
.paused #SeviPauseScreenSaveControls {
	grid-area: SaveControls;
}
.paused #SeviPauseScreenDisplay {
	grid-area: ImageDisplay;
}
.paused #SeviPauseScreenCounters {
	grid-area: Counters;
}

/* Sevi Mode - Second Page */

#SeviSecondPage {
	grid-template-rows: 30px 7fr 8fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"SeviPageUp SeviPageUp"
		"SpectrumDisplaySection SpectrumDisplaySection"
		"RecentScans ElectronCountHistory";
}

#SeviPageUp {
	grid-area: SeviPageUp;
}

/* Sevi Mode - Second Page - PE Spectrum */
#SeviSpectrumDisplaySection {
	grid-area: SpectrumDisplaySection;
	grid-template-columns: 3fr 1fr;
	grid-template-areas: "SpectrumDisplayInner SpectrumControl";
}
#SeviSpectrumDisplayInner {
	grid-area: SpectrumDisplayInner;
}
#SeviSpectrumControl {
	grid-area: SpectrumControl;
	grid-template-rows: 1fr 2.6fr 0.7fr 1fr 0.7fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"blank1 blank1"
		"CalculateSpectrumButton CalculateSpectrumButton"
		"SpectrumYRangeLabel SpectrumYRangeLabel"
		"SpectrumYLower SpectrumYUpper"
		"SpectrumXRangeLabel SpectrumXRangeLabel"
		"SpectrumXLower SpectrumXUpper";
}
#SeviCalculateSpectrumButton {
	grid-area: CalculateSpectrumButton;
}
#SeviSpectrumYRangeLabel {
	grid-area: SpectrumYRangeLabel;
}
#SeviSpectrumYLower {
	grid-area: SpectrumYLower;
}
#SeviSpectrumYUpper {
	grid-area: SpectrumYUpper;
}
#SeviSpectrumXRangeLabel {
	grid-area: SpectrumXRangeLabel;
}
#SeviSpectrumXLower {
	grid-area: SpectrumXLower;
}
#SeviSpectrumXUpper {
	grid-area: SpectrumXUpper;
}

/* Sevi Mode - Second Page - Recent Scans */
#SeviRecentScans {
	grid-area: RecentScans;
	grid-template-rows: 1fr 5fr;
}
#SeviRecentScansHeader {
	grid-template-columns: 1.7fr 1fr 1fr 1fr 1fr;
}
#SeviRecentScansSection {
	grid-template-columns: 1.8fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: 35px;
}

#SeviElectronCountHistory {
	grid-area: ElectronCountHistory;
}

/* IR Action Mode Content */

#IRActionModeContent {
	grid-area: Content;
}

/* IR Action Mode - First Page */

/* 1 2 3 2 2 -> 1 2 2 1 2 2 -> (Have 2 2 1 to work with = 5)*/

#IRActionFirstPage {
	grid-template-rows: 1fr 1.5fr 1.5fr 2fr 2fr 2fr 30px;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"IRActionTitleSection IRAbsorptionPlotSection"
		"IRActionControls IRAbsorptionPlotSection"
		"IRActionImageControls IRAbsorptionPlotSection"
		"IRActionWavemeterControls IRAbsorptionPlotSection"
		"IRActionOptions IRNextWavelength"
		"IRActionOptions IRActionProgress"
		"IRActionPageDown IRActionPageDown";
}

#IRActionTitleSection {
	grid-area: IRActionTitleSection;
}

/* IR Action Mode - First Page - Scan Controls */
#IRActionControls {
	grid-area: IRActionControls;
	grid-template-rows: 1fr 2fr;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
		"IRActionControlsTitle IRActionControlsTitle IRActionControlsTitle IRActionControlsTitle"
		"IRActionStartSave IRActionPauseResume IRActionPreviousWavelength IRActionNextWavelength";
}
#IRActionControlsTitle {
	grid-area: IRActionControlsTitle;
}
#IRActionStartSave {
	grid-area: IRActionStartSave;
}
#IRActionPauseResume {
	grid-area: IRActionPauseResume;
}
#IRActionPreviousWavelength {
	grid-area: IRActionPreviousWavelength;
}
#IRActionNextWavelength {
	grid-area: IRActionNextWavelength;
}

/* IR Action Mode - First Page - Image Controls */
#IRActionImageControls {
	grid-area: IRActionImageControls;
	grid-template-rows: 1fr 2fr;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		"IRActionImageControlsTitle IRActionImageControlsTitle IRActionImageControlsTitle"
		"IRActionPauseImage IRActionResetImage IRActionSaveImage";
}
#IRActionImageControlsTitle {
	grid-area: IRActionImageControlsTitle;
}
#IRActionPauseImage {
	grid-area: IRActionPauseImage;
}
#IRActionResetImage {
	grid-area: IRActionResetImage;
}
#IRActionSaveImage {
	grid-area: IRActionSaveImage;
}

/* IR Action Mode - First Page - Wavemeter Controls */
#IRActionWavemeterControls {
	grid-area: IRActionWavemeterControls;
	grid-template-rows: 1fr 1.5fr 1.5fr;
	grid-template-columns: 1.5fr 0.25fr 3fr 0.75fr;
	grid-template-areas:
		"IRActionWavemeterControlsTitle IRActionWavemeterControlsTitle IRActionWavemeterControlsTitle IRActionWavemeterControlsTitle"
		"IRActionPauseWavemeter blank DesiredWLMeasurementLengthLabel DesiredWLMeasurementLength"
		"IRActionResetWavemeter blank RemeasureWLLabel RemeasureWL";
}
#IRActionWavemeterControlsTitle {
	grid-area: IRActionWavemeterControlsTitle;
}
#IRActionPauseWavemeter {
	grid-area: IRActionPauseWavemeter;
}
#DesiredWLMeasurementLengthLabel {
	grid-area: DesiredWLMeasurementLengthLabel;
}
#DesiredWLMeasurementLength {
	grid-area: DesiredWLMeasurementLength;
}
#IRActionResetWavemeter {
	grid-area: IRActionResetWavemeter;
}
#RemeasureWLLabel {
	grid-area: RemeasureWLLabel;
}
#RemeasureWL {
	grid-area: RemeasureWL;
}

/* IR Action Mode - First Page - Scan Options */
#IRActionOptions {
	grid-area: IRActionOptions;
} /*
	grid-template-rows: repeat(5, 1fr);
	grid-template-areas:
		"Range"
		"Increment"
		"CollectionLength"
		"MeasurementMethod"
		"RadialValues";
}*/

/* IR Action Mode - First Page - Scan Options - Range Selection */
#IRActionOptionsRange {
	grid-area: Range;
	grid-template-columns: 2fr 2fr 1fr 1fr 2fr 1fr;
	grid-template-areas: "RangeLabel RangeStart WNLabel1 RangeToLabel RangeEnd WNLabel2";
}
#IRActionRangeLabel {
	grid-area: RangeLabel;
}
#IRActionRangeStart {
	grid-area: RangeStart;
}
#IRActionWNLabel1 {
	grid-area: WNLabel1;
}
#IRActionRangeToLabel {
	grid-area: RangeToLabel;
}
#IRActionRangeEnd {
	grid-area: RangeEnd;
}
#IRActionWNLabel2 {
	grid-area: WNLabel2;
}

/* IR Action Mode - First Page - Scan Options - Increment */
#IRActionOptionsIncrement {
	grid-area: Increment;
	grid-template-columns: 1fr 2fr 2fr 1fr 3fr;
	grid-template-areas: "blank1 IncrementLabel Increment WNLabel3 blank2";
}
#IRActionIncrementLabel {
	grid-area: IncrementLabel;
}
#IRActionIncrement {
	grid-area: Increment;
}
#IRActionWNLabel3 {
	grid-area: WNLabel3;
}

/* IR Action Mode - First Page - Scan Options - Collection Length */
#IRActionOptionsCollectionLength {
	grid-area: CollectionLength;
}
/* IR Action Mode - First Page - Scan Options - Absorption Calculation Method */
#IRActionOptionsMeasurementMethod {
	grid-area: MeasurementMethod;
}
/* IR Action Mode - First Page - Scan Options - Absorption Radial Values */
#IRActionOptionsRadialValues {
	grid-area: RadialValues;
	grid-template-columns: 3fr 2fr 1fr 3fr;
	grid-template-areas: "OriginRadius Radius PxLabel blank";
}
#IRActionOriginRadius {
	grid-area: OriginRadius;
}
#IRActionRadius {
	grid-area: Radius;
}
#IRActionPxLabel {
	grid-area: PxLabel;
}

/* IR Action Mode - First Page - Absorption Plot */
#IRAbsorptionPlotSection {
	grid-area: IRAbsorptionPlotSection;
}

/* IR Action Mode - First Page - Next Wavelength */
#IRNextWavelength {
	grid-area: IRNextWavelength;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"CurrentEnergyBackground"
		"NextEnergyBackground";
}
#CurrentEnergyBackground {
	grid-area: CurrentEnergyBackground;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "CurrentEnergyLabel CurrentEnergy";
}
#IRActionCurrentEnergyLabel {
	grid-area: CurrentEnergyLabel;
}
#IRActionCurrentEnergy {
	grid-area: CurrentEnergy;
}
#NextEnergyBackground {
	grid-area: NextEnergyBackground;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "NextEnergyLabel NextEnergy";
}
#IRActionNextEnergyLabel {
	grid-area: NextEnergyLabel;
}
#IRActionNextEnergy {
	grid-area: NextEnergy;
}

/* IR Action Mode - First Page - Progress */
#IRActionProgress {
	grid-area: IRActionProgress;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"Text"
		"Bar";
}
#ProgressTextBackground {
	grid-area: Text;
	grid-template-columns: 3fr 1fr 2fr 1fr 2fr;
	grid-template-areas: "Progress blank CurrentImage Of TotalImages";
}
#ProgressTextProgress {
	grid-area: Progress;
}
#ProgressTextCurrentImage {
	grid-area: CurrentImage;
}
#ProgressTextOf {
	grid-area: Of;
}
#ProgressTextTotalImages {
	grid-area: TotalImages;
}
#ProgressBarBackground {
	grid-area: Bar;
	grid-template-areas: "BarInner";
}
#ProgressBarOuter {
	grid-area: BarInner;
}
#ProgressBar {
	grid-area: BarInner;
}

#IRActionPageDown {
	grid-area: IRActionPageDown;
}

/* IR Action Mode - Second Page */

#IRActionSecondPage {
	grid-template-rows: 30px 1fr 1fr;
	grid-template-columns: 0.8fr 0.16fr 1fr;
	grid-template-areas:
		"IRActionPageUp IRActionPageUp IRActionPageUp"
		"IRActionInfo IRActionInfo IRActionImage"
		"IRPreviousWavelengths IRActionSpectrum IRActionSpectrum";
}

#IRActionPageUp {
	grid-area: IRActionPageUp;
}

#IRActionInfo {
	grid-area: IRActionInfo;
}

#IRPreviousWavelengths {
	grid-area: IRPreviousWavelengths;
}

#IRActionImage {
	grid-area: IRActionImage;
}

#IRActionSpectrum {
	grid-area: IRActionSpectrum;
}

/* Settings Content */

#SettingsContent {
	grid-area: Content;
}
