/* 
	This file is used to arrange each HTML element into a grid structure
	to make sure it aligns well, especially when resizing the window. The
	other element styles are specified in mainWindow.css
*/

/* NOTE TO MARTY: It might be better to split up the css files into one for each section (Sevi and IR Sevi could be in one) */

body {
	display: grid;
	grid-template-columns: 1fr 15fr;
	grid-template-areas: "TabBar Content";
}

/* Tabs */

#TabBar {
	grid-area: TabBar;
	display: grid;
	grid-template-rows: 0.5fr repeat(9, 1fr);
	grid-row-gap: 10px;
	grid-template-areas:
		"b0"
		"SeviMode"
		"IRSeviMode"
		"IRActionMode"
		"b1"
		"b1"
		"b1"
		"b1"
		"b1"
		"Settings";
}

#SeviMode {
	grid-area: SeviMode;
}

#IRSeviMode {
	grid-area: IRSeviMode;
}

#IRActionMode {
	grid-area: IRActionMode;
}

#Settings {
	grid-area: Settings;
}

/* Sevi and IR Sevi Mode Content */

#NormalModeContent {
	grid-area: Content;
}

/* Sevi Mode - First Page */

#SeviFirstPage {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr 3fr 1fr 3fr 30px;
	grid-template-areas:
		"TitleSection ImageDisplay"
		"ScanControls ImageDisplay"
		"FileNaming ImageDisplay"
		"LaserSetup ImageDisplay"
		"LaserSetup Counters"
		"SeviPageDown SeviPageDown";
}

/* Sevi Mode - Left Side */

#TitleSection {
	grid-area: TitleSection;
}

/* Sevi Mode - Left Side - Scan Controls */
#ScanControls {
	grid-area: ScanControls;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		"ScanStartSave ScanPauseResume ScanCancel"
		"ScanAutosave ScanReset ScanSingleShot";
}
#ScanStartSave {
	grid-area: ScanStartSave;
}
#ScanPauseResume {
	grid-area: ScanPauseResume;
}
#ScanCancel {
	grid-area: ScanCancel;
}
#ScanAutosave {
	grid-area: ScanAutosave;
}
#ScanReset {
	grid-area: ScanReset;
}
#ScanSingleShot {
	grid-area: ScanSingleShot;
}

/* Sevi Mode - Left Side - File Naming */
#FileNaming {
	grid-area: FileNaming;
	grid-template-rows: 1fr 2fr 2fr 1.3fr;
	grid-template-columns: 8fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"CurrentImageTitle blank1 ImageCounterTitle ImageCounterTitle ImageCounterTitle"
		"CurrentImageFile blank2 ImageCounterDown ImageCounter ImageCounterUp"
		"CurrentImageFileIR blank3 blank3 blank3 blank3"
		"VMILabel VMILabel VMIMode VMIMode blank4";
}
#CurrentImageTitle {
	grid-area: CurrentImageTitle;
}
#ImageCounterTitle {
	grid-area: ImageCounterTitle;
}
#CurrentImageFile {
	grid-area: CurrentImageFile;
}
#ImageCounterDown {
	grid-area: ImageCounterDown;
}
#ImageCounter {
	grid-area: ImageCounter;
}
#ImageCounterUp {
	grid-area: ImageCounterUp;
}
#CurrentImageFileIR {
	grid-area: CurrentImageFileIR;
}
#VMILabel {
	grid-area: VMILabel;
}
#VMIMode {
	grid-area: VMIMode;
}

/* Sevi Mode - Left Side - Laser Setup */
.sevi-mode #LaserSetup {
	grid-area: LaserSetup;
	grid-template-rows: 0.5fr 1fr 1fr 2fr;
	grid-template-areas:
		"LaserSetupTitle"
		"DetachmentLaserReadout"
		"LaserMeasurement"
		"blank";
}
.ir-sevi-mode #LaserSetup {
	grid-area: LaserSetup;
	grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"LaserSetupTitle"
		"DetachmentLaserReadout"
		"IRLaserReadout"
		"IRLaserControl"
		"LaserMeasurement";
}
#LaserSetupTitle {
	grid-area: LaserSetupTitle;
}

/* Sevi Mode - Left Side - Laser Setup - Detachment Laser Readout */
#DetachmentLaserReadout {
	grid-area: DetachmentLaserReadout;
	grid-template-columns: repeat(3, 3fr 1fr) 3fr 1.3fr;
	grid-template-areas: "WavelengthMode DetachmentWavelengthLabel DetachmentWavelength NMLabel1 ConvertedWavelength NMLabel2 DetachmentWavenumber WNLabel1";
}
#WavelengthMode {
	grid-area: WavelengthMode;
}
#DetachmentWavelengthLabel {
	grid-area: DetachmentWavelengthLabel;
}
#DetachmentWavelength {
	grid-area: DetachmentWavelength;
}
#NMLabel1 {
	grid-area: NMLabel1;
}
#ConvertedWavelength {
	grid-area: ConvertedWavelength;
}
#NMLabel2 {
	grid-area: NMLabel2;
}
#DetachmentWavenumber {
	grid-area: DetachmentWavenumber;
}
#WNLabel1 {
	grid-area: WNLabel1;
}

/* Sevi Mode - Left Side - Laser Setup - IR Laser Readout */
#IRLaserReadout {
	grid-area: IRLaserReadout;
	grid-template-columns: repeat(3, 3fr 1fr) 3fr 1.3fr;
	grid-template-areas: "IRWavelengthMode IRWavelengthLabel IRWavelength NMLabel3 IRConvertedWavelength NMLabel4 IRWavenumber WNLabel2";
}
#IRWavelengthMode {
	grid-area: IRWavelengthMode;
}
#IRWavelengthLabel {
	grid-area: IRWavelengthLabel;
}
#IRWavelength {
	grid-area: IRWavelength;
}
#NMLabel3 {
	grid-area: NMLabel3;
}
#IRConvertedWavelength {
	grid-area: IRConvertedWavelength;
}
#NMLabel4 {
	grid-area: NMLabel4;
}
#IRWavenumber {
	grid-area: IRWavenumber;
}
#WNLabel2 {
	grid-area: WNLabel2;
}

/* Sevi Mode - Left Side - Laser Setup - IR Laser Control */
#IRLaserControl {
	grid-area: IRLaserControl;
	grid-template-columns: 2.4fr 1.4fr 1.2fr 1fr 1.3fr;
	grid-template-areas: "IRLaserControlLabel DesiredEnergy DesiredEnergyUnit DesiredIRRangeMessage MoveIRButton";
}
#IRLaserControlLabel {
	grid-area: IRLaserControlLabel;
}
#DesiredEnergy {
	grid-area: DesiredEnergy;
}
#DesiredEnergyUnit {
	grid-area: DesiredEnergyUnit;
}
#DesiredIRRangeMessage {
	grid-area: DesiredIRRangeMessage;
}
#MoveIRButton {
	grid-area: MoveIRButton;
}

/* Sevi Mode - Left Side - Laser Setup - Laser Measurement Button */
#LaserMeasurement {
	grid-area: LaserMeasurement;
	grid-template-columns: 6fr 2fr;
	grid-template-areas: "blank1 MeasureDetachmentWavelength";
}
#MeasureDetachmentWavelength {
	grid-area: MeasureDetachmentWavelength;
}

/* Sevi Mode - Right Side */

/* Sevi Mode - Right Side - Accumulated Image Display */
#ImageDisplay {
	grid-area: ImageDisplay;
	grid-template-rows: 1fr 14fr 1fr;
	grid-template-columns: 5.2fr 1.8fr;
	grid-template-areas:
		"Title IRImageDisplay"
		"Display Display"
		"Slider Slider";
}
#IRImageDisplay {
	grid-area: IRImageDisplay;
}
#ImageDisplay h3 {
	grid-area: Title;
}
#DisplayWrapper {
	grid-area: Display;
}
#DisplaySlider {
	grid-area: Slider;
}

/* Sevi Mode - Right Side - Electron Counters */
#Counters {
	grid-area: Counters;
	grid-template-rows: 0.5fr 1fr 1fr 1fr 5px 1fr;
	grid-template-columns: 1.2fr 1fr 1fr;
	grid-template-areas:
		"blank IROffTitle IROnTitle"
		"TotalFramesLabel TotalFrames TotalFramesIROn"
		"TotalECountLabel TotalECount TotalECountIROn"
		"AvgECountLabel AvgECount AvgECountIROn"
		"ECountersDivLine ECountersDivLine ECountersDivLine"
		"AutomaticStopLabel AutomaticStop AutomaticStopUnit";
}
#IROffCountersTitle {
	grid-area: IROffTitle;
}
#IROnCountersTitle {
	grid-area: IROnTitle;
}
#TotalFramesLabel {
	grid-area: TotalFramesLabel;
}
#TotalFrames {
	grid-area: TotalFrames;
}
#TotalFramesIROn {
	grid-area: TotalFramesIROn;
}
#TotalECountLabel {
	grid-area: TotalECountLabel;
}
#TotalECount {
	grid-area: TotalECount;
}
#TotalECountIROn {
	grid-area: TotalECountIROn;
}
#AvgECountLabel {
	grid-area: AvgECountLabel;
}
#AvgECount {
	grid-area: AvgECount;
}
#AvgECountIROn {
	grid-area: AvgECountIROn;
}
#ECountersDivLine {
	grid-area: ECountersDivLine;
}
#AutomaticStopLabel {
	grid-area: AutomaticStopLabel;
}
#AutomaticStop {
	grid-area: AutomaticStop;
}
#AutomaticStopUnit {
	grid-area: AutomaticStopUnit;
}

#SeviPageDown {
	grid-area: SeviPageDown;
}

/* Pause "animation" */
.paused #PauseScreenSaveControls {
	grid-area: SaveControls;
}
.paused #PauseScreenDisplay {
	grid-area: ImageDisplay;
}
.paused #PauseScreenCounters {
	grid-area: Counters;
}

/* Sevi Mode - Second Page */

#SeviSecondPage {
	grid-template-rows: 30px 7fr 8fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"SeviPageUp SeviPageUp"
		"SpectrumDisplaySection SpectrumDisplaySection"
		"RecentScans ElectronCountHistory";
}

#SeviPageUp {
	grid-area: SeviPageUp;
}

/* Sevi Mode - Second Page - PE Spectrum */
#SpectrumDisplaySection {
	grid-area: SpectrumDisplaySection;
	grid-template-columns: 3fr 1fr;
	grid-template-areas: "SpectrumDisplayInner SpectrumControl";
}
#SpectrumDisplayInner {
	grid-area: SpectrumDisplayInner;
}
#SpectrumControl {
	grid-area: SpectrumControl;
	grid-template-rows: 1fr 2.6fr 0.7fr 1fr 0.7fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"SpectrumSwitch blank1"
		"CalculateSpectrumButton CalculateSpectrumButton"
		"SpectrumYRangeLabel SpectrumYRangeLabel"
		"SpectrumYLower SpectrumYUpper"
		"SpectrumXRangeLabel SpectrumXRangeLabel"
		"SpectrumXLower SpectrumXUpper";
}
#SpectrumSwitch {
	grid-area: SpectrumSwitch;
}
#CalculateSpectrumButton {
	grid-area: CalculateSpectrumButton;
}
#SpectrumYRangeLabel {
	grid-area: SpectrumYRangeLabel;
}
#SpectrumYLower {
	grid-area: SpectrumYLower;
}
#SpectrumYUpper {
	grid-area: SpectrumYUpper;
}
#SpectrumXRangeLabel {
	grid-area: SpectrumXRangeLabel;
}
#SpectrumXLower {
	grid-area: SpectrumXLower;
}
#SpectrumXUpper {
	grid-area: SpectrumXUpper;
}

/* Sevi Mode - Second Page - Recent Scans */
#RecentScans {
	grid-area: RecentScans;
	grid-template-rows: 1fr 5fr;
}
#RecentScansHeader {
	grid-template-columns: 1.7fr 1fr 1fr 1fr 1fr;
}
#RecentScansSection {
	grid-template-columns: 1.8fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: 35px;
}

#ElectronCountHistory {
	grid-area: ElectronCountHistory;
}

/* IR Action Mode Content */

#IRActionModeContent {
	grid-area: Content;
}

/* IR Action Mode - First Page */

#IRActionFirstPage {
	grid-template-rows: 1fr 2fr 3fr 2fr 2fr 30px;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"IRActionTitleSection IRAbsorptionPlotSection"
		"IRActionControls IRAbsorptionPlotSection"
		"IRActionOptions IRAbsorptionPlotSection"
		"IRActionOptions IRNextWavelength"
		"IRActionOptions IRActionProgress"
		"IRActionPageDown IRActionPageDown";
}

#IRActionTitleSection {
	grid-area: IRActionTitleSection;
}

/* IR Action Mode - First Page - Scan Controls */
#IRActionControls {
	grid-area: IRActionControls;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		"IRActionStartSave IRActionPauseResume IRActionCancel"
		"IRActionPreviousWavelength IRActionNextWavelength IRActionTurnAround";
}
#IRActionStartSave {
	grid-area: IRActionStartSave;
}
#IRActionPauseResume {
	grid-area: IRActionPauseResume;
}
#IRActionCancel {
	grid-area: IRActionCancel;
}
#IRActionPreviousWavelength {
	grid-area: IRActionPreviousWavelength;
}
#IRActionNextWavelength {
	grid-area: IRActionNextWavelength;
}
#IRActionTurnAround {
	grid-area: IRActionTurnAround;
}

/* IR Action Mode - First Page - Scan Options */
#IRActionOptions {
	grid-area: IRActionOptions;
	grid-template-rows: repeat(5, 1fr);
	grid-template-areas:
		"Range"
		"Increment"
		"CollectionLength"
		"MeasurementMethod"
		"RadialValues";
}

/* IR Action Mode - First Page - Scan Options - Range Selection */
#IRActionOptionsRange {
	grid-area: Range;
	grid-template-columns: 2fr 2fr 1fr 1fr 2fr 1fr;
	grid-template-areas: "RangeLabel RangeStart WNLabel1 RangeToLabel RangeEnd WNLabel2";
}
#IRActionRangeLabel {
	grid-area: RangeLabel;
}
#IRActionRangeStart {
	grid-area: RangeStart;
}
#IRActionWNLabel1 {
	grid-area: WNLabel1;
}
#IRActionRangeToLabel {
	grid-area: RangeToLabel;
}
#IRActionRangeEnd {
	grid-area: RangeEnd;
}
#IRActionWNLabel2 {
	grid-area: WNLabel2;
}

/* IR Action Mode - First Page - Scan Options - Increment */
#IRActionOptionsIncrement {
	grid-area: Increment;
	grid-template-columns: 1fr 2fr 2fr 1fr 3fr;
	grid-template-areas: "blank1 IncrementLabel Increment WNLabel3 blank2";
}
#IRActionIncrementLabel {
	grid-area: IncrementLabel;
}
#IRActionIncrement {
	grid-area: Increment;
}
#IRActionWNLabel3 {
	grid-area: WNLabel3;
}

/* IR Action Mode - First Page - Scan Options - Collection Length */
#IRActionOptionsCollectionLength {
	grid-area: CollectionLength;
	grid-template-columns: 3.5fr 2fr 2.5fr 0.5fr;
	grid-template-areas: "CollectionLengthLabel CollectionLength CollectionUnit blank2"
}
#IRActionCollectionLengthLabel {
	grid-area: CollectionLengthLabel;
}
#IRActionCollectionLength {
	grid-area: CollectionLength;
}
#IRActionCollectionUnit {
	grid-area: CollectionUnit;
}

/* IR Action Mode - First Page - Scan Options - Absorption Calculation Method */
#IRActionOptionsMeasurementMethod {
	grid-area: MeasurementMethod;
}
/* IR Action Mode - First Page - Scan Options - Absorption Radial Values */
#IRActionOptionsRadialValues {
	grid-area: RadialValues;
	grid-template-columns: 3fr 2fr 1fr 3fr;
	grid-template-areas: "OriginRadius Radius PxLabel blank";
}
#IRActionOriginRadius {
	grid-area: OriginRadius;
}
#IRActionRadius {
	grid-area: Radius;
}
#IRActionPxLabel {
	grid-area: PxLabel;
}

/* IR Action Mode - First Page - Absorption Plot */
#IRAbsorptionPlotSection {
	grid-area: IRAbsorptionPlotSection;
}

/* IR Action Mode - First Page - Next Wavelength */
#IRNextWavelength {
	grid-area: IRNextWavelength;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"CurrentEnergyBackground"
		"NextEnergyBackground";
}
#CurrentEnergyBackground {
	grid-area: CurrentEnergyBackground;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "CurrentEnergyLabel CurrentEnergy";
}
#IRActionCurrentEnergyLabel {
	grid-area: CurrentEnergyLabel;
}
#IRActionCurrentEnergy {
	grid-area: CurrentEnergy;
}
#NextEnergyBackground {
	grid-area: NextEnergyBackground;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "NextEnergyLabel NextEnergy";
}
#IRActionNextEnergyLabel {
	grid-area: NextEnergyLabel;
}
#IRActionNextEnergy {
	grid-area: NextEnergy;
}

/* IR Action Mode - First Page - Progress */
#IRActionProgress {
	grid-area: IRActionProgress;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"Text"
		"Bar";
}
#ProgressTextBackground {
	grid-area: Text;
	grid-template-columns: 3fr 1fr 2fr 1fr 2fr;
	grid-template-areas: "Progress blank CurrentImage Of TotalImages";
}
#ProgressTextProgress {
	grid-area: Progress;
}
#ProgressTextCurrentImage {
	grid-area: CurrentImage;
}
#ProgressTextOf {
	grid-area: Of;
}
#ProgressTextTotalImages {
	grid-area: TotalImages;
}
#ProgressBarBackground {
	grid-area: Bar;
	grid-template-areas: "BarInner";
}
#ProgressBarOuter {
	grid-area: BarInner;
}
#ProgressBar {
	grid-area: BarInner;
}

#IRActionPageDown {
	grid-area: IRActionPageDown;
}

/* IR Action Mode - Second Page */

#IRActionSecondPage {
	grid-template-rows: 30px 1fr 1fr;
	grid-template-columns: 0.8fr 0.16fr 1fr;
	grid-template-areas:
		"IRActionPageUp IRActionPageUp IRActionPageUp"
		"IRActionInfo IRActionInfo IRActionImage"
		"IRPreviousWavelengths IRActionSpectrum IRActionSpectrum";
}

#IRActionPageUp {
	grid-area: IRActionPageUp;
}

#IRActionInfo {
	grid-area: IRActionInfo;
}

#IRPreviousWavelengths {
	grid-area: IRPreviousWavelengths;
}

#IRActionImage {
	grid-area: IRActionImage;
}

#IRActionSpectrum {
	grid-area: IRActionSpectrum;
}

/* Settings Content */

#SettingsContent {
	grid-area: Content;
}
