#IRActionModeContent {
	display: none; /* Set to none so that it looks cleaner on startup */
}

.action-options-input {
	width: 100%;
	height: 90%;
	text-align: center;
}

#IRActionFirstPage {
	padding: 10px 20px 0 20px;
	grid-gap: 20px;
}

#IRActionScanOptions {
	grid-gap: 5px;
	padding: 10px 20px;
}
#IRActionScanOptionsTitleSection {
	justify-items: center;
	align-items: center;
}
#IRActionScanOptionsTitle {
	width: 80%;
	text-align: center;
	border-bottom: 1px solid white;
}
#IRActionEnergySelection {
	align-items: center;
	justify-items: center;
}

#IRActionSecondPage {
	display: none;
	padding: 0 20px 30px 20px;
	grid-gap: 20px;
}
