#IRActionModeContent {
	display: none; /* Set to none so that it looks cleaner on startup */
}

.action-options-input {
	width: 100%;
	height: 80%;
	text-align: center;
}

.justify-align-center {
	justify-items: center;
	align-items: center;
}

.hidden {
	display: none;
}

.action-status-row {
	width: 100%;
	height: 100%;
}
.action-status-label {
	width: 100%;
	font-size: 1.5vw;
}
.action-status-hv {
	width: 90%;
	height: 70%;
	text-align: center;
}
/*.status-label {
	border-bottom: 1px solid white;
}*/

/* First Page */
#IRActionFirstPage {
	padding: 10px 20px 0 20px;
	grid-gap: 20px;
}

/* First Page - Scan Options */
#IRActionScanOptions {
	grid-gap: 5px;
	padding: 10px 20px;
}
#IRActionScanOptionsTitle {
	width: 80%;
	text-align: center;
	border-bottom: 1px solid white;
}
#IRActionAutomaticStopSelection {
	grid-gap: 10px;
}
#IRActionAutomaticStopUnit {
	width: 100%;
	height: 90%;
}
#IRActionImageAmountSelection {
	grid-gap: 10px;
}
#IRActionVMISelection {
	align-items: center;
}
#IRActionVMILabel {
	padding-right: 10px;
}
#IRActionVMIMode {
	width: 100%;
	height: 90%;
	padding-left: 30%;
}

/* First Page - Scan Status */
#IRActionScanStatus {
	align-items: center;
	padding: 5px 20px;
}
#IRActionScanStatusTitle {
	width: 80%;
	text-align: center;
	border-bottom: 1px solid white;
}

/* Fisrt Page - Image Display */
#IRActionImageDisplay {
	padding: 5px 5px;
	grid-gap: 10px;
}
#IRActionImageDisplaySelect {
	height: 80%;
}
#IRActionImageDisplay:focus-visible {
	outline: none;
}
#IRActionDisplayWrapper {
	height: 50vh;
	aspect-ratio: 1 / 1;
	justify-self: center;
	border-radius: 10px;
}
#IRActionImageDisplay h3 {
	padding-right: 10%;
	text-align: right;
	align-self: end;
}
#IRActionDisplaySlider {
	justify-self: center;
}

/* First Page - Electron & Frame Counters */
#IRActionElectronCounters {
	padding: 10px 30px;
	grid-gap: 0 10px;
	align-items: center;
	justify-items: center;
}
#IRActionElectronCounters h3 {
	text-align: center;
	width: 100%;
	border-bottom: 1px solid white;
}
#IRActionImageProgressBarBackground {
	padding: 10px 0;
	width: 100%;
	height: 100%;
	grid-gap: 10px;
}
#IRActionImageProgressBarOuter {
	width: 100%;
	height: 100%;
	border: 1px solid hsla(0, 0%, 0%, 0.7);
	border-radius: 30px;
	overflow: hidden;
}
#IRActionImageProgressBar {
	width: 100%;
	height: 100%;
	background-color: hsl(245, 91%, 38%);
	border-radius: 30px;
	text-align: center;
	font-size: 2vh;
	padding-top: 3px;
	position: relative;
	left: -100%;
}

/* Second Page */
#IRActionSecondPage {
	display: none;
	padding: 0 20px 30px 20px;
	grid-gap: 20px;
}
