#IRSeviModeContent {
	display: none; /* Set to none so that it looks cleaner on startup */
}

#IRSeviModeFirstPage {
	padding: 10px 20px 0 20px;
	grid-gap: 20px;
}
#IRSeviModeSecondPage {
	display: none;
	padding: 0 20px 30px 20px;
	grid-gap: 20px;
}

/* First Page - Left Side */

/* File Naming */
#IRSeviFileNaming {
	padding: 20px 15px;
	grid-gap: 5% 5px;
	align-items: center;
}

#IRSeviImageCounter {
	width: 100%;
	height: 70%;
	text-align: center;
}
#IRSeviVMILabel {
	padding-right: 10px;
}
#IRSeviVMIMode {
	height: 100%;
	padding-left: 30%;
}

/* Save Controls - Detachment Wavelength */

#IRSeviLaserSetup {
	grid-gap: 5px;
	padding: 20px;
}
#IRSeviLaserSetupTitle {
	justify-items: center;
}
#IRSeviLaserControlTitle {
	width: 80%;
	text-align: center;
	border-bottom: 1px solid white;
	padding-bottom: 5px;
}

#IRLaserControl {
	grid-gap: 5px 15px;
}
#IRDesiredIRRangeMessage {
	text-align: center;
}

#IRSeviDetachmentLaserMeasurement {
	align-items: center;
}
#IRSeviExcitationLaserMeasurement {
	align-items: center;
}

/* 
End left side 

Right Side 
*/

/* Image Display */
#IRSeviImageDisplay {
	padding: 5px 5px;
	grid-gap: 10px;
}
#IRSeviImageDisplaySelect {
	height: 80%;
}
#IRSeviImageDisplay:focus-visible {
	outline: none;
}
#IRSeviDisplayWrapper {
	height: 50vh;
	aspect-ratio: 1 / 1;
	justify-self: center;
	border-radius: 10px;
}
#IRSeviImageDisplay h3 {
	padding-right: 10%;
	text-align: right;
	align-self: end;
}
#IRSeviDisplaySlider {
	justify-self: center;
}

/* Electron & Frame Counters */
#IRSeviCounters {
	padding: 10px 30px;
	grid-gap: 0 10px;
	align-items: center;
	justify-items: center;
}
#IRSeviCounters h3 {
	text-align: center;
	width: 100%;
	border-bottom: 1px solid white;
}
#IRSeviAutomaticStop {
	width: 80%;
	height: 60%;
	text-align: center;
}
#IRSeviAutomaticStopUnit {
	width: 90%;
	height: 70%;
}

/* IR-Sevi Mode - Second Page */

/* IR-Sevi Mode - Second Page - PE Spectrum */
#IRSeviSpectrumDisplaySection {
	padding: 10px;
}
#IRSeviSpectrumDisplayInner {
	padding: 15px 20px 0 10px;
	background: hsla(225, 20%, 90%, 0.85);
	align-items: center;
}
#IRSeviSpectrumControl {
	padding: 5px;
	padding-left: 10px;
	grid-gap: 0 5px;
	align-items: center;
	justify-items: center;
}
#SpectrumSwitch {
	width: 80%;
}
#IRSeviCalculateSpectrumButton {
	width: 65%;
	height: 35%;
}

/* IR-Sevi Mode - Second Page - Recent Scans */
#IRSeviRecentScans {
	padding: 0 25px 5px 25px;
}
#IRSeviRecentScansHeader {
	padding: 5px;
	padding-bottom: 10px;
	z-index: 5;
	border-bottom: black;
}
#IRSeviRecentScans h4 {
	text-align: center;
	align-self: end;
	font-size: 1.3vw;
}
#IRSeviRecentScansSection {
	max-height: 390px;
	padding: 5px;
	padding-bottom: 0;
	border: 2px solid rgb(62, 71, 95);
}
#IRSeviRecentScans p {
	text-align: center;
	font-size: 1.4vw;
	padding-top: 7px;
	height: 100%;
	border-bottom: 1px dotted rgb(62, 71, 95);
	color: white;
}
